@page
    <table class="tbl-r05">
        <tr class="thead">
            <th></th>
            <th>手術室</th>
            <th>麻酔科</th>
            <th>脳外科</th>
            <th>心外</th>
        </tr>
        <tr>
            <td>即対応</td>
            <td data-label="手術室"><input class="btn-success" id="test1_1" type="button" value="可能"/></td>
            <td data-label="麻酔科"><input class="btn-success" id="test1_2" type="button" value="可能" /></td>
            <td data-label="脳外科"><input class="btn-success" id="test1_3" type="button" value="可能" /></td>
            <td data-label="心外　"><input class="btn-success" id="test1_4" type="button" value="可能" /></td>
        </tr>
        <tr>
            <td>2H以内</td>
            <td data-label="手術室"><input class="btn-success" id="test2_1" type="button" value="可能" /></td>
            <td data-label="麻酔科"><input class="btn-success" id="test2_2" type="button" value="可能" /></td>
            <td data-label="脳外科"><input class="btn-success" id="test2_3" type="button" value="可能" /></td>
            <td data-label="心外　"><input class="btn-success" id="test2_4" type="button" value="可能" /></td>
        </tr>
        <tr class="last">
            <td>本日</td>
            <td data-label="手術室"><input class="btn-success" id="test3_1" type="button" value="可能" /></td>
            <td data-label="麻酔科"><input class="btn-success" id="test3_2" type="button" value="可能" /></td>
            <td data-label="脳外科"><input class="btn-success" id="test3_3" type="button" value="可能" /></td>
            <td data-label="心外　"><input class="btn-success" id="test3_4" type="button" value="可能" /></td>
        </tr>
    </table>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>